<!--<div class="container">-->
  <div class="kanban-board row-fluid">
    <table class="kanban_items_table">
      <tr>
        <td class="column" style="{{$parent.column_size_style()}};"  ng-repeat="status in kanban.status" ng-show="isStatusNotDeleted(status)">
          <div class="container">
          <form ng-show="$index == 0" class="entrada_dados" ng-submit="addTask(status)" autofocus>
             <textarea ng-model="status.newTask.text"
                    ui-keydown="{'ctrl-enter':'tasksKeypressCallback($event, status)'}"
                    class="span11 newtask-text" ng-init="status.newTask.text=''"
                    placeholder="Adicione aqui novos items  (Pressione Control+Enter após digitar o texto para adicionar a atividade)" />
                    <span ng-show="showControlEnterTip(status) && controlEnterTipEnabled" class="label label-info">Pressione Control+Enter após digitar o texto para adicionar a atividade</span>
                    <input class="btn btn-info" type="submit" value="Adicionar" />
          </form>
        <div class="task-list-template1 grupo-items" same-height="kanban" same-height-watcher="$parent.taskEvent()" same-height-offset="{{($index==0) ? 0 : 110}}" ui-multi-sortable ng-model="kanban" status_id="{{status._id}}" model-subset="status[{{$index}}].tasks" model-identity="status._id">
                    <div ng-class="{true:'task-collapsed', false:''}[task.collapsed == true]"  class="thumbnail kanban-item {{task.color}}" ng-model="taskColor" ng-repeat="task in status.tasks" data-drop="true"  jqyoui-droppable="{color: '', onDrop:'dropColorCallback'}">
                        <div class="draggable">
                        <i class="close icon-remove pull-right" ng-click="deleteItem(status,$index)"></i>
                        <a data-target="#editModal" data-toggle="modal" ng-click="setCurrentEditingTask(status,$index)"><i class="close icon-pencil pull-right"></i></a>
                        <a data-target="#extrafields_{{task._id}}" ng-click="toggleTaskCollapse(task)"  data-toggle="collapse"><i class="close pull-right" ng-class="{true:'icon-arrow-down', false:'icon-arrow-up'}[task.collapsed == true]"></i></a>
                        </div>
                        <!--<p class="pull-right indicador-sequencial">#{{$index+1}}</p>-->
                        <!--<p contenteditable="false" contenteditable_action="kanbanTaskChanged(task, status, $index)" ng-model="task.text" ng-bind-html-unsafe="task.text | newlines"></p>-->
                         <p title="{{task['text'] }}" contenteditable="true" contenteditable_action="kanbanTaskFieldChanged(task, 'text')"  spellcheck="false" class="content" ng-bind-html="task['text'] | unsafe" ng-model="task['text']"></p>

                        <div id="extrafields_{{task._id}}" class="collapse"  ng-class="{true:'in', false:''}[task.collapsed == false]">
                          <div class="field" ng-repeat="field in getKanbanTasksFields() |filter:notIsTextField">
                            <span  ng-show="!field.multiline" class="field_legend">{{field.label}}</span>
                            <p  ng-show="field.multiline" class="field_legend">{{field.label}}</p>

                            <span  contenteditable="true" contenteditable_action="kanbanTaskFieldChanged(task, field)" spellcheck="false"  ng-show="!field.multiline" class="content" ng-bind-html="task[field.name] | newlines |  unsafe" ng-model="task[field.name]"></span>
                            <p contenteditable="true" contenteditable_action="kanbanTaskFieldChanged(task, field)"  spellcheck="false" ng-show="field.multiline" class="content" ng-bind-html="task[field.name] | newlines |  unsafe" ng-model="task[field.name]"></p>
                          </div>
                        </div>

                    </div>

          </div>
        </td>
      <tr>
    </table>
   </div>
<!--</div>-->
