
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
        <span class="pull-left brand"><a class="kanban-title pull-left" style="color:white;font-size:0.7em;" href="#/">KANBAN.SERPRO :::</a>
        </span>        <div class="color_select pull-left">
          <div class="color_badge yellow" ng-model="colorYellow" ng-init="colorYellow='yellow'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{'color':'yellow', placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="yellow"></div>
          <div class="color_badge gold"  ng-model="collorGold" ng-init="collorGold='gold'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'gold', placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="gold"></div>
          <div class="color_badge green"  ng-model="colorGreen" ng-init="colorGreen='green'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'green',placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="green"></div>
          <div class="color_badge cloud"  ng-model="colorCloud" ng-init="colorCloud='cloud'" data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'cloud',placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="cloud"></div>

          <div class="color_badge red" ng-model="colorRed" ng-init="colorRed='red'"   data-drag="true" data-jqyoui-options="{revert: 'invalid'}" jqyoui-draggable="{color: 'red',placeholder:'keep',animate:true, onStart:'colorDragStart', onStop: 'colorDragStop', onDrag: 'colorDragCallback'}" data-color="red"></div>
        </div>

      <div class="navbar-inner pull-right">
          <div class="nav pull-left" style="color:white;padding-top:10px;max-width:340px;max-height:40px">Projeto: <a  style="font-size:14px" href="#/projeto/{{projectName}}">{{projectName}}</a> ( <span class="text-warning">{{kanban.name}}</span> )</div>

            <ul class="nav">
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">&nbsp;<i class="icon-user icon-white"></i> <%= current_user.login %></a>
                  <ul class="dropdown-menu">
                    <li><a href="/signout">Logout</a></li>
                  </ul>
              </li>
            </ul>

      </div>

        <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                      <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">Outros kanbans <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="kanban in kanbans"><a ng-click="navegar(projectName, kanban._id)">{{kanban.name}}</a></li>

                        </ul>
                      </li>
                    </ul>
                    <ul class="nav">
                        <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Configurar <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                            <li><a href="javascript:;" data-target="#configKanbanModal" ng-click="configurarKanban()" data-toggle="modal">Campos</a></li>
                            <li><a href="javascript:;" data-target="#configColumnsModal" ng-click="" data-toggle="modal">Colunas</a></li>
                            <li><a href="javascript:;" data-target="#load_tasks" ng-click="" data-toggle="modal">Carregar CSV</a></li>
                            <li><a href="javascript:;" data-target="#configScrum" ng-click="" data-toggle="modal">Scrum</a></li>
                          </ul>
                      </li>
                    </ul>
                    <!--<form class="navbar-search pull-left" action="">
                      <input type="text" class="search-query span2" placeholder="Search">
                    </form>
                    <ul class="nav pull-right">
                      <li><a href="#">Link</a></li>
                      <li class="divider-vertical"></li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Action</a></li>
                          <li><a href="#">Another action</a></li>
                          <li><a href="#">Something else here</a></li>
                          <li class="divider"></li>
                          <li><a href="#">Separated link</a></li>
                        </ul>
                      </li>
                    </ul>-->
                  </div>
      </div>
      </div>
          <div class="row-fluid headers">
            <table class="kanban_columns_table">
              <tr>
                <td class="column" style="{{$parent.column_size_style()}}" ng-repeat="status in kanban.status | filter:isStatusNotDeleted ">
                  <div class="kanban-header">
                    <span class="pin"></span>
                    <p contenteditable="true" contenteditable_action="statusNameChanged(status)" ng-model="status.name">{{status.name}}</p>
                  </div>
                  <div class="column_actions">
                      <a ng-click="expandAllTasks(status)">Expandir todos</a>
                      <a ng-click="collapseAllTasks(status)">Fechar todos</a>
                  </div>
                </td>
              </tr>
            </table>
          </div>
      </div>
