<script type="text/ng-template"  id="kanban.html">
<div id="kanban">
<!--inicio topo -->
  <%= render 'header' %>
<!--fim topo -->

<%= render 'board' %>

<!-- Modais -->
<%= render 'main/windows/config_columns' %>
<%= render 'main/windows/config_kanban' %>
<%= render 'main/windows/edit_task' %>
<%= render 'main/windows/load_tasks' %>
<%= render 'main/windows/scrum' %>
</script>
</div>
