
<script type="text/ng-template" id="projectSetup.html">
  <div id="project_setup" class="container">
    <form class="form-entrada" ng-submit="defineProjectStatusColumns()">
      <h1>Projeto : {{projectName}}</h1>
      <h3>Definição de colunas</h3>
      <div class="new_kanban_columns">
          <div class="templates">
            <div ng-repeat="template in templates" class="row-fluid">
              <div class="radio">
                <label><input type="radio" value="{{template.name}}" ng-model="$parent.selected_column_template" class="pull-left" name="temp"/> {{template.name}}</label>
              </div>
              <div class="column_set">
                <div class="span2" ng-repeat="column in template.columns.keys()">{{column}}</div>
              </div>
            </div>
            <div class="custom">
              <div class="radio">
                <label><input type="radio" value="custom" ng-model="selected_column_template" name="temp"/>Colunas</label>
              </div>
              <!--<input type="text" id="txt_custom_column_name" ng-model="custom_columns_name" placeholder="Nome do Template"/>-->
              <input type="text" id="txt_custom_columns" ng-model="kanban_custom_columns" placeholder="Coloque o nome das colunas separado por vírgulas."/>
            </div>
          </div>
       </div>
       <div class="pagination-centered">
          <input type="submit" class='btn-large btn-primary' type='submit' value="OK"/>
        </div>
    </form>
  </div>
</script>

<script type="text/ng-template"  id="projectSelection.html">
 <div class="container">
      <div ng-show="showProjetoSelection">
        <form ng-submit="addNewProject()" class="form-entrada">
        <h2 class="kanban-title text-center">Kanban.SERPRO</h2>
          <fieldset>
            <label>Informe o projeto você deseja acessar?</label>
            <select ng-focus="showProjetoSelection" ng-model="currentProject" type="text" ng-options="p.name as p.name for p in projects" ng-change="projectChanged()">
            </select>
            <div class='text-info'>ou</div>
            <label>Crie um novo Projeto</label>

          </fieldset>

            <input class="span2" type='text' required="true" ng-model="novoProjeto" placeholder/>
            <div class="text-center button-line">
              <button class='btn-large btn-primary text-center' type='submit'>Criar Projeto</button>
            </div>

        </form>
      </div>
      <div ng-hide="showProjetoSelection">
        <form ng-submit="addNewKanban()"  class="form-entrada">
        <h2 class="kanban-title text-center">Kanban.SERPRO</h2>
          <fieldset>
            <label>Informe o projeto você deseja acessar?</label>
            <select ng-focus="showProjetoSelection" ng-model="currentProject" type="text" ng-options="p.name as p.name for p in projects" ng-change="projectChanged()">
            </select>
            <button ng-click="projectSetup()" formnovalidate>Configurar Projeto</button>
            <div ng-show='showKanbansList()'>
               <label>Escolha o Kanban</label>
               <select ng-focus="!showProjetoSelection" ng-model="currentKanban" ng-options="k.name for k in kanbans" ng-change="kanbanChanged()"></select>
               <div class='text-info'>ou</div>
             </div>
          </fieldset>

          <div class="box">
            <label>Informe o nome do Kanban</label>
            <input type='text' required="true" ng-model="novoKanban" placeholder="ex: 'Iteração 1'" ng-focus="!showProjetoSelection"/>

            <ul class="kanban_columns_list" ng-model="colunas_disponiveis" ui-sortable="sortableOptions" >
              <li ng-repeat="item in colunas_disponiveis">{{item}}</li>
            </ul>
            <ul class="kanban_columns_list" ng-model="colunas_selecionadas" ui-sortable="sortableOptions" >
              <li ng-repeat="item in colunas_selecionadas">{{item}}</li>
            </ul>
          </div>
          <div class="pagination-centered">
            <button class='btn-large btn-primary' type='submit'>Criar Kanban</button>
          </div>
          <div class="pull-right">
            <a href="#/">Novo Projeto</a>
          </div>
        </form>
      </div>
  </div>
</script>
