<script type="text/ng-template"  id="socket.html">
    Mensagem: <input type="text" ng-model="mensagem">
    <button ng-click="enviarMensagem()"  class="btn-primary">Enviar Mensagem</button>
    
    <pre>
      {{socket_data}}
    </pre>
</script>