<style type="text/css">
  form {
    margin-top:150px;
    width:200px;
    background-color: #FFFFA5;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
  }

  input {
    height: 40px !important;
    font-size: 1.5em !important;
  }

  hr {
    border: 1px dotted white;
  }
</style>
<div class="container">
  <div class="row">

    <%= form_tag "/auth/ldap/callback", :remote => false, :class=> "offset3 span6 form-horizontal",  :method=> "post",  :novalidate=> "noValidate" do %>
        <center>
          <h3>Kanban.SERPRO</h3>
        </center>
        <% if flash[:error] %>
            <div class="alert-error"><%= translate(flash[:error]) %></div>
        <% end %>
      <center><small>Informe seu CPF e sua senha LDAP</small></center>
      <p/>
       <div class="control-group">
         <label class="control-label" for="username"><%= t('login') %>:</label>
         <div class="controls">
           <input required type="text" class="input-xlarge" id="username" name="username" maxlength="11" autocomplete="off" autofocus placeholder="Informe o CPF">
         </div>
       </div>
       <div class="control-group">
        <label class="control-label" for="password"><%= t('password') %>:</label>
        <div class="controls">
          <input type="password" class="input-xlarge" id="password" name="password" autocomplete="off" placeholder="Digite sua senha">
        </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <button  type="submit" class="btn btn-primary"><i class="icon-user icon-white"></i>&nbsp;<%= t('sign_in') %></button>
          <%#= link_to 'Logar com voce.serpro', '/auth/noosfero_oauth2', :class=> 'btn btn-primary' %>
          <%#= link_to 'Logar com Facebook', '/auth/facebook', :class=> 'btn btn-primary' %>
          <%#= link_to 'Logar com Gitlab', '/auth/gitlab', :class=> 'btn btn-primary' %>
        </div>
      </div>


      <!-- <small class="pull-right"><cite>Designed by Ábner Oliveira</cite></small> -->
    <% end %>

  </div>

</div>



<script type="text/javascript">
jQuery(document).ready(function($){
  $('input').autotab();
});
</script>
