<div id="configColumnsModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="configKColumnsModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Colunas</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <div class="columns_list">
      <table class="table" >
        <tr>
          <th>Nome</th>
          <th></th>
        </tr>
        <tr ng-repeat="status in kanban.status |filter:statusEditFilter">
          <td ng-class="{true:'column-deleted', false:''}[kanban.status_deleted.indexOf(status._id) > -1]">{{status.name}}</td>
          <td>
            <a ng-show="kanban.status_deleted == undefined || kanban.status_deleted.indexOf(status._id) == -1" href="javascript:;" ng-click="deleteStatusColumn(status)">Remover</a>
            <a ng-show="kanban.status_deleted.indexOf(status._id) > -1" href="javascript:;" ng-click="restoreStatusColumn(status)">Restarurar</a>
          </td>
        </tr>
      </table>
    </div>
    <label for="check_show_columns_removed"><input type="checkbox" id="check_show_columns_removed" ng-model="show_columns_removed" />Exibir excluídos</label>
    <div id="new_column_status">
      <form>
        <fieldset>
          <legend>Adicionar coluna</legend>
          <label for="new_kanban_column">Nome da coluna</label>
          <input id="new_kanban_column" type="text" ng-model="newStatusColumnName" placeholder="Digite o nome da coluna">
          <button class="btn " ng-click="addStatusColumn()">Adicionar uma nova coluna</button>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>
