<div id="configKanbanModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="configKanbanModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Campos</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
      <table class="table">
        <tr>
          <th>#</th>
          <th>Nome do Campo</th>
          <th>Label</th>
          <th>Linhas</th>
          <th></th>
        </tr>
        <tr ng-repeat="field in getKanbanTasksFieldsToEdit()">
          <td>{{$index}}</td>
          <td><input type="text" ng-model="field.name" ng-disabled="$index == 0"/></td>
          <td><input type="text" ng-model="field.label"/></td>
          <td><label><input type="checkbox" ng-model="field.multiline"/> Múltiplas</label></td>
          <td><select ng-model="field.data_type" ng-options="type.name as type.label for type in tasks_fields_data_types" /></td>
          <td><button ng-show="$index > 0" ng-click="removeFieldFromKanbanTasks($index)">
          <i class="icon-minus"></i></button></td>
        </tr>
      </table>

      <button class="btn" ng-click="addFieldToKanbanTasks()"><i class="icon-plus"></i>Adicionar Campo</button>
  </div>
  <div class="modal-footer">
    <span ng-click="saveKanbanConfig()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Salvar</span>
  </div>
</div>
