<div id="configGitlabModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="configGitlabModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <form class="form-horizontal" ng-controller="gitlabConfigController">
      <fieldset>
        <!-- Form Name -->
        <legend>Configuração Gitlab</legend>
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">Servidor Gitlab</label>
          <div class="controls">
            <input id="gitlab_server" name="gitlab_server" type="text" placeholder="placeholder" class="input-xlarge">
          </div>
        </div>
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">Token</label>
          <div class="controls">
            <input id="private_token" name="private_token" ng-model="" type="text" placeholder="placeholder" class="input-xlarge">
          </div>
        </div>
        <!-- Text input-->
        <div class="control-group">
          <label class="control-label" for="textinput">Repositórios</label>
          <div class="controls">
            <select>
              <options ng-repeat="for repo in repositories">{{repo.name}}</option>
            </select>
          </div>
        </div>
        <!-- Button -->
        <div class="control-group">
          <label class="control-label" for="singlebutton"></label>
          <div class="controls">
            <button id="singlebutton" name="singlebutton" class="btn btn-primary">Button</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <span ng-click="saveGitlabConfig()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Salvar</span>
  </div>
</div>
