<div id="editModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="editModalLabel">Alterar estória</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <form ng-submit="updateTask()" >
        <fieldset>

              <div ng-repeat="field in kanban.tasks_fields">
                <div ng-show="!field.multiline">
                  <label>
                    {{field.label}}
                    <input ui-date uiDateFormat ui-date-format="dd/mm/yy"  ng-model="getEditingTask()[field.name]" ng-if="field.data_type == 'Date'"></input>
                    <input  type="text" ng-show="field.data_type != 'Date'" ng-model="getEditingTask()[field.name]"></input>
                  </label>
                </div>
                <div ng-show="field.multiline">
                  <label>
                    {{field.label}}
                    <textarea  type="text" ng-model="getEditingTask()[field.name] "></textarea>
                  </label>
                </div>
              </div>
        </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <button ng-click="changeTaskText()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Salvar</button>
  </div>
</div>
