<div id="load_tasks" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loadTasksModalLabel"  aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Carregar Tarefas</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <form action="{{getUploadUrl()}}" ng-upload="completeUpload(content)" upload-options-enable-rails-csrf >
      <div ng-show="uploadObject == null">
        <fieldset>
          <input type="file" accept=".csv" required name="upload"/>
        </fieldset>
        <input type="submit" class="btn btn-primary" value="Enviar CSV" ng-disabled="$isLoading"/>
      </div>
      <div class="error" ng-show="errorUpload != null">{{errorUpload}}</div>

      <div class="result" style="white-space:pre-wrap;height:250px;overflow-y:auto;margin-bottom:10px" ng-show="uploadObject != null">
{{uploadObject.content}}
      </div>
      <input type="button" class="btn btn-primary" data-dismiss="modal"  aria-hidden="true" value="Adicionar Tarefas" ng-click="processTasksUpload()" ng-show="uploadObject != null"/>
      <input type="button" class="btn btn-primary" value="Limpar" ng-click="limparUpload()" ng-show="uploadObject != null"/>
    </form>
  </div>
  <div class="modal-footer">

  </div>
</div>
