<div id="configScrum" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Configurar Sprint</h3>
  </div>
  <div class="modal-body" class="span12 pagination-centered">
    <form>
      <fieldset>
        <label for="scrum_start_date">Data início da iteração</label><input type="text" ng-model="kanban.scrum_config.start_date" id="scrum_start_date"/>
        <label for="scrum_end_date">Data fim da iteração</label><input type="text" ng-model="kanban.scrum_config.end_date" id="scrum_end_date"/>
        <label for="task_estimation_field">Campo de estimativa</label>
        <select id="task_estimation_field"  ng-model="kanban.scrum_config.task_estimation_field"
          ng-options="field.name as field.name for field in kanban.tasks_fields" />
        <label for="task_delivery_date_field">Campo de data de entrega</label>
        <select id="task_delivery_date_field"  ng-model="kanban.scrum_config.task_delivery_date_field"
          ng-options="field.name as field.name for field in kanban.tasks_fields" />
        <label for="delivery_status_id">Status de entrega</label><select ng-model="kanban.scrum_config.delivery_status_id" ng-options="status._id as status.name for status in kanban.status" ng-change="deliveryStatusChanged()"></select>
      </fieldset>
    </form>
  </div>
  <div class="modal-footer">
    <span ng-click="saveScrumConfig()" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Salvar</span>
    <span ng-click="buildBurndownData()" class="btn">BurnDown</span>

  </div>
</div>
