<%= render 'main/header' %>
<div class="kanban-board row-fluid">
<h1>Listagem de Projetos</h1>
  <ul>
    <% @privates.each do |project| %>
    <li><%= project.inspect %></li>
    <% end %>
  </ul>
  <ul>
    <% Project.all.each do |project| %>
    <li><%= project.name %></li>
    <% end %>
  </ul>
</div>
