<!doctype html ng-app="myApp">
 <!--[if lt IE 7 ]><html class="ie ie6" lang="en"  ng-app="myApp" id="ng-app"> <![endif]-->
 <!--[if IE 7 ]><html class="ie ie7" lang="en" ng-app="myApp" id="ng-app"> <![endif]-->
 <!--[if IE 8 ]><html class="ie ie8" lang="en"  ng-app="myApp" id="ng-app"> <![endif]-->
 <!--[if (gte IE 9)|!(IE)]><!--><html lang="en" ng-app="myApp"> <!--<![endif]-->
 <head>
   <!-- Basic Page Needs
   ================================================== -->
   <meta charset="utf-8">

 <meta charset=utf-8 />
 <title>Kanban.SERPRO - LOGIN</title>
   <meta name="description" content="Kanban LOGIN - SERPRO - DESDR - by Ábner Oliveira" />
   <meta name="keywords" content="Kanban, Web, HTML5">
   <meta name="author" content="Ábner Silva de Oliveira" />

   <!-- Mobile Specific Metas
   ================================================== -->
 <meta name="viewport" content="width=device-width, user-scalable=no" />

   <!-- CSS
   ================================================== -->



 <link href="/css/lib/bootstrap.css" rel="stylesheet" type="text/css" />
 <link href="/css/lib/bootstrap-responsive.css" rel="stylesheet" type="text/css" />

 <link href="/css/lib/jquery-ui.css" rel="stylesheet" type="text/css" />
 <link href="/css/lib/angular-ui.css" rel="stylesheet" type="text/css" />
 <link href="/css/style.css" rel="stylesheet" type="text/css" />
 <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

 <meta name="viewport" content="width=device-width, user-scalable=no" />
 </head>
 <body>

  <%= javascript_include_tag 'sessions' %>

   <%= yield %>

   <!-- JS
   ================================================== -->

   <!-- End Document
   ================================================== -->
   <script src="/js/lib/jquery.autotab.js"></script>
 </body>
 </html>
